<style>
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #111;
	}
</style>
<ul>
	<li><a href="http://127.0.0.1:8000/ex01/django">Django</a></li>
	<li><a href="http://127.0.0.1:8000/ex01/affichage">Affichage</a></li>
	<li><a href="http://127.0.0.1:8000/ex01/templates">Template</a></li>
</ul>
